# Laravel
/vendor/
.env
.env.local
.env.production
.env.backup
/storage/app/*
/storage/framework/cache/*
/storage/framework/sessions/*
/storage/framework/views/*
/storage/logs/*
/bootstrap/cache/*
/node_modules/
npm-debug.log
yarn-error.log
/public/storage
/public/hot
/public/themes
/storage/*.key
.phpunit.result.cache
Homestead.json
Homestead.yaml
composer-setup.php
*.map
style.css.map
style_neha.css.map

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db
